<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Code Buddy - Home</title>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="HTML,CSS,JavaScript,AngularJS">
    <meta name="author" content="Group 1 - CS365">

    <link  rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link  rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link  rel="stylesheet" href="./css/styles.css">

    <script src="./bower_components/firebase/firebase.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="./bower_components/angularfire/dist/angularfire.js"></script>
    <script src="./bower_components/jquery/dist/jquery.js"></script>

    <script src="./js/profile.js"></script>

</head>

<body ng-app="profile" ng-controller="profile">

<div>
    <nav class="navbar navbar-default">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img alt="Software Project" src="./images/en.png" width="100%" height="100%">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a  href="profile.html">Home</a></li>
                    <li><a href="messages.html">Messages</a></li>
                    <li><a href="groups.html">Groups</a></li>
                    <li><a href="./friends.html">Friends</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <button type="submit" class="btn btn-success" ng-click="signOut()">Log Out</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="myaccount.html"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-3 well">
            <div class="well">
                <p ng-model="myProfile">{{myProfile}} !</p>
                <img src="{{thismightwork}}" class="img-circle" height="120" width="120" alt="Avatar">
                <p></p>
            </div>

            <div class="well">
                <p><a href="groups.html">Groups</a></p>

                <p class="label label-default" >{{domainone}}</p>
                <p class="label label-primary" >{{domaintwo}}</p>
                <p class="label label-success" >{{domainthree}}</p>
                <p class="label label-info" >{{domainfour}}</p>
                <p class="label label-warning" >{{domainfive}}</p>
                <p class="label label-default" >{{domainsix}}</p>

            </div>

            <!--<div class="alert alert-success fade in">-->
                <!--<a href="./profile.html" class="close" data-dismiss="alert" aria-label="close">×</a>-->
                <!--<p><strong>Notification!</strong></p>-->
                <!--You Have A Friend Request - Click Here.-->
            <!--</div>-->

            <p><strong>User Information:</strong></p>
            <img src="{{languageFlag}}" class="img-rounded" height="65" width="65" alt="Flag">
            <p><a href="#">{{myLanguage}} </a></p>
            <p>{{myLocation}}</p>
            <p>{{myOccupation}}</p>
        </div>

        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">
                            <p contenteditable="true">Status: Working on Assignments</p>
                            <button type="button" class="btn btn-default btn-sm" ng-click="showme=false">
                                <span ng-show="showme" class="glyphicon glyphicon-thumbs-up"></span> Like
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <p>Fritz</p>
                        <img src="./avatars/7.png" class="img-circle" height="55" width="55" alt="Avatar">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="well">
                        <p>Des Teufels liebstes Möbelstück ist die lange Bank.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <p>Franc</p>
                        <img src="./avatars/9.png" class="img-circle" height="55" width="55" alt="Avatar">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="well">
                        <p>Aujourd'hui, je vais vous lire un poème de Jules Supervielle, poète assez moderne
                            puisqu'il est mort en 1960. Ce poème est très court, et facile à comprendre.
                            À l'écart du mouvement surréaliste, la poésie de Supervielle est humaine,
                            souvent inspirée par le monde qui nous entoure et la nature. </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <p>{{myProfile}}</p>
                        <img src="./avatars/7.png" class="img-circle" height="55" width="55" alt="Avatar">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="well">
                        <p>Buon Natale e felice anno nuovo</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="well">
                        <p>{{myProfile}}</p>
                        <img src="./avatars/7.png" class="img-circle" height="55" width="55" alt="Avatar">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="well">
                        <p>Sólo tú me abrigas cuando tengo frío.
                            Sólo tú eres y serás el dueño de mi corazón.
                            Sólo tú eres mi sueño hecho realidad.</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-sm-2 well">
            <div class="thumbnail">
                <strong>Friends:</strong>
                <p>Joe</p>
                <img src="./avatars/1.png" class="img-circle" height="55" width="55" alt="Avatar">
                <p>Jake</p>
                <img src="./avatars/2.png" class="img-circle" height="55" width="55" alt="Avatar">
                <p>Paul</p>
                <img src="./avatars/3.png" class="img-circle" height="55" width="55" alt="Avatar">
                <button class="btn btn-success">View All Friends</button>
            </div>
            <div class="well">
                <p>Buy Cans Of Air</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>




<script src="js/profile.js"></script>
<footer class="container-fluid text-center">
    <p>Code Buddy 2016</p>
</footer>


</body>
</html>
